body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header, section, footer, div, form, ul, li, 
input, button, a, img, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
}

.container {
    width: 945px;
    padding: 0;
    margin: 0 auto;
}

.name {
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 45px;
    color: #fed136;
    text-align: right;
    font-weight: 700px;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/b-g.jpg) no-repeat top center / cover;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    color: #fff;
    font-family: Montserrat, sans-serif;
    padding-bottom: 180px;
}

.logo {
    display: block;
    margin: 0;
}

.navination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 150px;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    display: block;
    margin-left: 40px;
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #d6d5d6;
    font-size: 14px;
}

.welcome {
    display: block;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 90px 0;
    padding: 0;
}

.heading-first {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
}

.heading-first span {
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    color: #fed136;
}

.button {
    display: block;
    background: #fed136;
    text-align: center;
    text-decoration: none;
}

.button-call-contact {
    width: 240px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto 0;
    padding: 25px 0;
}

.button-header {
    width: 80px;
    border-radius: 100px;
    text-transform: uppercase;
}

footer {
    padding: 10px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 15px;
}




































